/* css\bases.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  font-family: var(--police);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-3);
}

#Website {
  /* max-width: 100vw;
  overflow-x: hidden; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}
